<% if @item %>
  <h1> Editing <%= @item.name %> </h1>
  <form action="/<%= @item.id %>" method="post">
    <input name="_method" type="hidden" value="put" />
    
    <label for="name">Name:</label>    
    <input type="text" name="name" id="name" value="<%= @item.name %>">
    <br><br>

    <label for="item_type">Type:</label>    
    <input type="text" name="item_type" id="item_type" value="<%= @item.item_type %>">
    <br><br>

    <label for="item_location_1">Location 1:</label>        
    <input type="text" name="item_location_1" id="item_location_1" value="<%= @item.item_location_1 %>">    
    <br><br>

    <label for="item_location_2">Location 2:</label>        
    <input type="text" name="item_location_2" id="item_location_2" value="<%= @item.item_location_2 %>">    
    <br><br>
    
  Description:
  <br>
  <textarea name="description" id="description" rows="3" cols="25"><%= @item.description %></textarea>
    
  <p>    
    <input id="item_submit" name="commit" type="submit" value="Update" />
    <a href="/">Cancel</a>
  </p>    
  </form>
	
<% else %>
	<p>Item not found.</p>
<% end %>
