<p><%= @item.name %></p>
<p><%= @item.item_type %></p>
<p><%= @item.item_location_1 %></p>
<p><%= @item.item_location_2 %></p>
<p><%= @item.description %></p>
<br><br>
<p><a href="/new">Add a New Item!</a></p>

<p><a href="/">Home</a></p>

